{% extends "layouts/main.html" %}
{% block main %}

    {% include 'includes/websockets.html' %}

    <div class="admin-shell">
        {% include 'includes/navbar.html' %}

        <div class="container-fluid px-2 px-lg-3">
            <div class="d-flex flex-column flex-lg-row">
                {% include 'includes/sidebar.html' %}
                <main role="main" class="flex-grow-1 min-vw-0 admin-main">
                    {% block content %}{% endblock content %}
                </main>
            </div>
        </div>
    </div>

    {% include 'includes/scripts.html' %}

{% endblock main %}
