{% extends "layouts/main.html" %}
{% block main %}

    {% include 'includes/websockets.html' %}

    {% include 'includes/navbar.html' %}
    
    <div class="container-fluid">
        <div class="row">
            {% include 'includes/sidebar.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                {% block content %}{% endblock content %}
            </main>
        </div>
    </div>

    {% include 'includes/scripts.html' %}
    
{% endblock main %}
