Flask
SQLAlchemy
Flask_SQLAlchemy
Flask-Cors
flask_apispec

flask-restx
Flask-Bcrypt
flask-login
flask_socketio
flask_babel
flask_wtf
Flask-Caching

psycopg2-binary

pdoc

croniter #cron

requests

# profiling
flask-debugtoolbar
Flask-MonitoringDashboard

#plugins
paho-mqtt

python-vlc

pyTelegramBotAPI

pycryptodome
