{% macro render_linked_select(field_object, field_property, field_method) %}
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/select2/select2.min.css" />
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/select2/select2-bootstrap-5-theme.min.css" />

<div>
    <label for="{{ field_object.name }}">{{ field_object.label }}</label><br>
    <div class="input-group">
    <select id="{{ field_object.name }}" name="{{ field_object.name }}" class="select2" aria-label="{{label}}" data-placeholder="Select object">
        <option></option>
    </select>
    <button class="btn btn-outline-secondary" type="button" id="reset-{{ field_object.name }}"><i class="fa-solid fa-broom"></i></button>
    </div>
</div>
{% if field_property %}
<div>
    <label for="{{ field_property.name }}">{{ field_property.label }}</label><br>
    <div class="input-group">
        <select id="{{ field_property.name }}" name="{{ field_property.name }}" class="select2" aria-label="{{label}}"  data-placeholder="Select property">
        </select>
        <button class="btn btn-outline-secondary" type="button" id="reset-{{ field_property.name }}"><i class="fa-solid fa-broom"></i></button>
    </div>
</div>
{% endif %}
{% if field_method %}
<div>
    <label for="{{ field_method.name }}">{{ field_method.label }}</label><br>
    <div class="input-group">
        <select id="{{ field_method.name }}" name="{{ field_method.name }}" class="select2" aria-label="{{label}}"  data-placeholder="Select method">
        </select>
        <button class="btn btn-outline-secondary" type="button" id="reset-{{ field_method.name }}"><i class="fa-solid fa-broom"></i></button>
    </div>
</div>
{% endif %}
<script>
$(document).ready(function() {
    $('.select2').select2({
        theme: "bootstrap-5",
        allowClear: false,
        width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        debug: true,
    });
    function updateProps(object_name, select){
        $.ajax({
            url: '/api/property/list/' + object_name,
            method: 'GET',
            success: function(data) {
                var property_select = $('#{{field_property.name}}');
                property_select.empty();
                Object.keys(data.result).forEach(function(key) {
                    property_select.append(new Option(key +" - "+ data.result[key], key));
                })
                property_select.val(select);
            }
        });
    }
    function updateMethods(object_name, select){
        $.ajax({
            url: '/api/method/list/' + object_name,
            method: 'GET',
            success: function(data) {
                var method_select = $('#{{field_method.name}}');
                method_select.empty();
                Object.keys(data.result).forEach(function(key) {
                    method_select.append(new Option(key +" - "+ data.result[key], key));
                })
                method_select.val(select);
            }
        });
    }
    // Load objects via API
    $.ajax({
        url: '/api/object/list',
        method: 'GET',
        success: function(data) {
            var object_select = $('#{{field_object.name}}');
            object_select.empty();
            console.log(data, object_select, '{{field_object.data}}')
            Object.keys(data.result).forEach(function(key) {
                object_select.append(new Option(key +" - "+ data.result[key], key));
            })
            
            object_select.val('{{field_object.data}}');
            updateProps('{{field_object.data}}','{{field_property.data}}')
            updateMethods('{{field_object.data}}','{{field_method.data}}')
        }
    });
    // Добавляем обработчик для кнопки сброса
    $(document).on('click', '#reset-{{ field_object.name }}', function() {
        var object_select = $('#{{ field_object.name }}');
        object_select.val('null').trigger('change');
        {% if field_property %}
        var prop_select = $('#{{ field_property.name }}');
        prop_select.val('null').trigger('change');
        {% endif %}
        {% if field_method %}
        var method_select = $('#{{ field_method.name }}');
        method_select.val('null').trigger('change');
        {% endif %}
    });
    {% if field_property %}
    $(document).on('click', '#reset-{{ field_property.name }}', function() {
        var prop_select = $('#{{ field_property.name }}');
        prop_select.val('null').trigger('change');
    });
    {% endif %}
    {% if field_method %}
    $(document).on('click', '#reset-{{ field_method.name }}', function() {
        var method_select = $('#{{ field_method.name }}');
        method_select.val('null').trigger('change');
    });
    {% endif %}

    // Load properties based on selected country
    $('#{{field_object.name}}').change(function() {
        var object_name = $(this).val();
        console.log("Selected object:", object_name);
        // Обновление свойств и методов
        updateProps(object_name, "");
        updateMethods(object_name, "");

        // Очистка значений в объекте формы
        {% if field_property %}
        $('#{{ field_property.name }}').val(null);
        {% endif %}
        {% if field_method %}
        $('#{{ field_method.name }}').val(null);
        {% endif %}
    });


    {% if field_property %}
    // Preselect object if form was pre-filled
    $('#{{field_property.name}}').val('{{field_property.data}}');
    {%endif%}
});
</script>
{% endmacro %}
