<!-- Latest compiled JavaScript -->
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/select2/select2.full.min.js"></script>

<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/custom.js"></script>

<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/notifications.css">  
<script src="{{ config.ASSETS_ROOT }}/js/notification-manager.js"></script>
