{% extends "layouts/base-fullscreen.html" %}

{% block title %} About {% endblock %}

{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">
            <img src="{{ config.ASSETS_ROOT }}/images/logo.png" class="mb-3">
            <p>Author: Eraser</p>
            <h1 stype="text-decoration: none;">
              <a href="https://github.com/Anisan/osysHome" ><i class="fab fa-github text-black"></i></a>
              <a href="https://t.me/osysHome" ><i class="fab fa-telegram-plane text-black"></i></a>
            </h1>
            2024
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}